{% extends 'frontend/index.html' %}
{% load static %}
{% block title %} Chart {% endblock %}

{% block content %}
<main class="container">

  <div class="py-5 px-3" style="max-width: 900px; max-height: 400px; position: relative;">
    <canvas id="chart-area"></canvas>
  </div>
  <div>
      <h1 id="app">{{ text }}</h1>
  </div>

</main>
{% endblock %}
{% block jsfiles %}      
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block javascript %}
<script>
var ctx = document.getElementById('chart-area').getContext('2d');
var DATA_COUNT = 5;
var NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['RAM'],
        datasets: [{
            label: '# of Votes',
            //data: Utils.numbers(NUMBER_CFG),
            //backgroundColor: Object.values(Utils.CHART_COLORS),
            data:[50],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Chart.js Doughnut Chart'
            }
        }
    }
});
</script>
<script>
var socket = new WebSocket('ws://localhost:8000/ws/some_url/');
socket.onmessage = function(event){
    var data = JSON.parse(event.data);
    console.log(data.message);
    document.querySelector('#app').innerText = data.message
}
</script>
{% endblock %}