{% extends 'frontend/index.html' %}
{% load static %}
{% block title %} Chart {% endblock %}

{% block content %}
<main class="container">

  <div class="py-5 px-3" style="max-width: 900px; max-height: 400px; position: relative;">
    <canvas id="myChart"></canvas>
  </div>
  <div>
      <h1 id="app">{{ text }}</h1>
  </div>

</main>
{% endblock %}
{% block jsfiles %}      
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}

{% block javascript %}
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45]
        }]
    },

    // Configuration options go here
    options: {}
});
</script>
<script>
var socket = new WebSocket('ws://localhost:8000/ws/some_url/');
socket.onmessage = function(event){
    var data = JSON.parse(event.data);
    console.log(data);
    document.querySelector('#app').innerText = data
}
</script>
{% endblock %}